p, li, .recipe-list, h1{
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
}

body {
  font-family: 'Josefin Sans', sans-serif;
}

.page-container {
    width: 100%;
    padding: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
}

/* BLOG SECTION*/

.blog-post {
    padding-bottom: 3em;
}

.blog-post-category {
    color: gray;
}


/* PODCAST SECTION*/

.episode img {
  height: 44px;
  float: left;
  margin-right: 1em;
  cursor: pointer;
}


#podtitle {
    font-weight: bold;
}

#podtext {
    font-size: 14px;
}