﻿{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/png" href="{% static 'blogapp/img/icon.png' %}">
    
    <!-- Load css file -->
    <link href="{% static 'blogapp/styles.css' %}" rel="stylesheet">
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">

    <style type="text/css" media="Screen">

        .padded-dropcap {
            padding-left: 5px;
            padding-right: 10px;
            float: left;
            position: relative;
            top: -0.25em;
            margin-bottom: -0.5em;
            margin-left: -6px;
            margin-right: 2px;
            font-size: 100px;
        }
    </style>

    <script type="text/javascript">
 
        /* This program will swap an image when it is clicked by using the getElementById() method
        The program will use an image_tracker variable to keep track of which image is currently displayed
        We can use an IF statement to check if the orange picture is being displayed,
        then swap with the blue one, and vice versa.
        */ 
        
        var image_tracker = 'play';
        
        function change(){
        var image = document.getElementById('imgChange');
        if(image_tracker=='play'){
        image.src='resources\img\pausenow.png';
        image_tracker='pause';
        }
        else{
        image.src='resources\img\playnow.png';
        image_tracker='play';
        }
        }
        
    </script>

    <title>Home | Leroy Buliro</title>
    
</head>

    <body style="font-size: 16px; font-family: 'Josefin Sans', sans-serif;">

        <nav style="top: 0%; background-color: black; position:static; text-align: center; max-width: 100%; padding: 1% 4%;">
            
            <a style="color: white; font-weight:bolder; text-decoration: none;" href="#">THE BLOG OF LEROY BULIRO</a>
            <!--a href="#"><img src="{% static 'blogapp/img/title.png' %}" alt="logo" style="max-height: 100%;"></a-->
        </nav>



        <div style="width: 100%; padding: 4% 6% 4% 6%;">
            
            <h1 style="text-align: center; font-family: 'Josefin Sans', sans-serif;">Featured Posts</h1>
            <br>

            <div>
                <div style="text-align: center; padding: 2% 0% 2% 0%;">
                    <h7 style="color: gray; font-size: 14px; font-weight: bold;">URBAN CULTURE</h7>
                    <h4 style="font-weight: bold;">The Art Of Introversion</h4>
                </div>

                <img src="{% static 'blogapp/img/posts/4_1.jpg' %}" alt="4_1" style="width: 100%;">

                <div style="padding: 4% 0% 4% 0%;">
                    <p><span class="padded-dropcap">I</span>t was September 2012, the first time I ever attended a concert by myself. It also happened to be the most hyped event of the year and I wasn't going to let it pass by me. Many would call it the golden age of EDM and if at the time you were part of “the movement” then i bet you are picturing it quite clearly right about now. If it’s one thing Nairobi is known for, it’s pioneering trends in East Africa and this event was a testament of that. I was but a fan back then and no one I knew was interested enough to join me for a Sunday night show. Blame it on the 9 to five. I bought a single ticket and made my way to Ngong Racecourse. Nairobians love their night escapades and that day was no different. By the time I got there, the stretch leading to the venue entrance was already a parking lot. Within minutes, i was tagged and in, grabbed a draft beer at one of the bars, found a spot a few meters from the stage, and scrolled through my phone until the next performer came on.</p>
                    <p>Once the music started, I immediately got immersed in the performance on a level I’d rarely experienced before. With no friends to distract me with small chit chat -”Imagine donda leo alijaribu kunipora change. Mimi na yeye tulipambana vibaya aje. Heh! boss...” -, taking photos and videos on their phones, or asking me to hold their spots while they got refills or took bathroom breaks, my senses were heightened: melodies and harmonies were more enriched, the rhythms groovy, and the lyrics resonated more deeply. Transcendent it was.</p>
                    <p>Hours later, the moon was set ablaze marking my departure time and as I strolled out into the crisp equatorial air, I wondered: Why hadn’t I ever done this before?</p>
                    <p>In modern society, we partake in a number of isolating mundane activities but are viewed as being off when the same is reciprocated on other social activities. How many times have you seen a person doing their groceries alone or trying out that fitness routine solo. Traditional cultural norms have conditioned us to feel uneasy when going alone to certain public places - concerts, movie theatres, restaurants, etc - where by default people go to socialize and have a good time. Often are the times when I hear people lament, “I’d love to go see [insert artist/band], but I have noone to go with.” My response, constant.</p>
                    <p>“So what’s holding you back, go anyway.”</p>
                    <p>Now let's be rational for a moment. Flying solo is accompanied with a number of perks. Logistically. Your much awaited movie has just hit the screens, getting that single ticket for a superb location will come easier than securing a group of good seats. Timewise. You can always arrive as early or as late as you want to without having to care much about missing a performance you really don’t have interest towards; the hustle of agreeing who’ll buy drinks and agree on repayment hoping they don’t get drunk on the agreement as well and forget about it. And when your headliner takes it to the stage, you have more freedom to move around the stage than when in a pack, making it much easier to claim a serendipitous gap right in front of the action when it appears.</p>
                    <p>“But who will I talk to?”</p>
                    <p>That’s what the little self doubting voice in my head whispered to me the first time I bought the solo ticket - and it’s not a completely unfounded fear. There’s usually that weird moment when an artist’s performance comes to an end and just before the next one begins, a moment of pause is appreciated as the stage morphs for the next artist. Those few minutes of downtime when everyone is chatting up.</p>
                    <p>You see, I always enjoy my own company. I identify as a anti-social extrovert (introvert), but even with the self assurance, it can still be an uncomfortable experience sitting - or standing - alone when everyone around you is chatting, in groups, taking squad photos or semi cocooning with their lover. On trying to pinpoint why this thought bothered me, my real hangup revealed itself: I wasn’t afraid to be alone. It was the thought of other people noticing that I was alone.</p>
                    <p>Fortunately, we humans are self-absorbed creatures. When you go to a show alone, it’s highly unlikely anyone else will even notice that you’re by yourself, let alone care enough to scrutinize you for it. Realistically, what are the odds that next time the same band comes to town, another fan will spot you in the crowd and whisper, “Hey look, isn’t that the dude who showed up alone last time?”.</p>
                    <p>If replicating what you see on social media feeds is your approach to concerts and music festivals - that they’re places to tag along with your friends and post photos and videos of you having a great time or record videos as you sing along to your favourite songs - then of course it will feel uncomfortable to be there by yourself. But if you look at a concert as a performance to take in and enjoy as a member of the audience, you’ll soon feel no shame of being there without an entourage. Solitude invites you to get lost in the music.</p>
                    <p>And isn’t the music what you came for?</p>
                    <p>Nowadays I can proudly refer to myself as an adept and avid solo concertgoer. I have attended movie premiers by myself, unwinded at restaurants considered as romantic spots with my whisky as my plus one. If in the mood, I chat with the people around me; a few of those spontaneous conversations have blossomed into real lifelong friendships. Other times, I just listen and observe.</p>
                    <p>A few months ago, I was gifted a ticket to see singer/songwriter Tetu Shani perform at The Alchemist Bar. My favourite place to sit at this particular venue is at an elongated table with a couple of bar stools aligned together on one lengthy side, facing down on the stage. It's one floor up so it offers an alfresco view of the venue. The best kind of views.</p>
                    <p>I was the first to arrive and settle down, and the second to sit down was a woman in her late twenties. We sparked up a conversation, and I learned that she’d just got offered a new job and moved to the city. It was not only her first visit to the venue, but her first time going to a concert alone which reminded me of how if felt to be newly enarmored with Nairobi's nightlife, full of nerves and buzzing big eyed wonder. For some time, our third seat remained unoccupied until the lights dimmed, and as Tetu and his band took the stage, a third woman slid gracefully and wordlessly onto the last stool. She looked sophisticated and at ease in a slim black turtleneck, and delicate pendant on a long silver chain: I guessed her to be a member of my parents’ generation. As Tetu started to play, I began to feel like time had somehow folded over on itself - I was sitting at my favourite table, not with two strangers, but with my older and younger selves.</p>
                    <p>Over the duration of the performance, none of us spoke a word. We were the ghosts of concerts past, present, and future, sipping a drink and listening in contented, kindred silence.</p>
                </div>
            </div><!-- /.blog-post -->

            <div>
                <div style="text-align: center; padding: 2% 0% 2% 0%;">
                    <h7 style="color: gray; font-size: 14px; font-weight: bold;">IDENTITY</h7>
                    <h4 style="font-weight: bold;">From 5000 to 1. A Chat With Daniel Dyer</h4>
                </div>

                <img src="{% static 'blogapp/img/posts/3_1.jpg' %}" alt="3_1" style="width: 100%;">

                <div style="padding: 4% 0% 4% 0%;">
                    <p><strong>As a barman turned ambassador, Grant’s Whisky Global Brand Ambassador, Daniel Dyer is just beginning to experience the goodies accompanied with this role especially now that Grant’s Whisky has introduced a new bottle, the Triple Wood.</strong></p>
                    <hr>
                    <p><span class="padded-dropcap">I</span>t’s been eleven months since the title of Grant’s Brand Ambassador (B.A.) was bestowed to him, out of 5000 applicants who submitted their entry globally, “Do you know what’s really funny,” says Daniel Dyer, “That day I decided to apply for the role as Global B.A. of Grant’s Whisky, I was going through my daily routine behind the bar counter questioning my life decisions and whether I wanted to do this for the rest of my life.” As he was in deep thought, he took out his phone and logged into Facebook. “It was like a sign, I was scrolling and there it was on my feed, ‘Do you want to travel the world and sell whisky’ “ We now know how that story ended.</p>
                    <p>Acquiring the role of brand ambassador is not as easy as it looks, just like any other line of work, one needs to be passionate. Passionate about the whisky making craft and everything in between, from the maturation process to the bottling. It requires discipline and some form of wit, especially when finding new ways to attract whisky lovers and make the spirit more accessible to a wider audience. Danny’s life now involves travelling around the world promoting whiskies. “My role is pretty weird but the aim is always to increase awareness of our brands and drive sales,” comments Daniel. ”Becoming a Global Ambassador has always been a dream goal for me and achieving it is odd because I now need to have a new goal as B.A. which includes getting people to talk and get hyped about Grant’s. The liquid is still as legendary, the bottle is great, so let’s have fun.”</p>
                    <p>Growing up in Aberlour on the North East of Scotland, Daniel Dyer’s previous life prepared him for this exceptional role. He’s worked at a number of distilleries and exclusive clubs across Scotland where he gathered his knowledge of whisky over the years as a bartender. From working at The Mash Tun Whisky Bar, where he led tastings and went as far as writing a whisky tasting book touching base over one hundred different whiskies not leaving behind the art of whisky making. His passion for the industry has also seen him working at the Scotch malt whisky society as an ambassador.</p>
                    <p>Over the short duration of time that Daniel Dyer has been Global Brand Ambassador of Grant’s Whisky, he’s travelled to nine countries around the world selling the refreshed brand, with every visit different from the last. It also happens to be his first visit to Africa, having made his first stop in Tanzania. Daniel was lucky enough to drive his way through Arusha to Nairobi where he got to interact with locals and explore nature – a view that he only witnessed in Nat Geo – as he drove through the Serengeti. He even got to taste a small bit of Nairobi’s nightlife scene when visiting J’s Fresh Bar and Kitchen.</p>
                    <p>But why now? For as long as we can all remember, Grant’s Whisky has always been that iconic bottle with the triangular shaped double rock glass, which we all have stashed somewhere in our cabinets. Why the new facelift? “Times have changed and we need to move with it and we now want everyone to feel part of Grant’s Whisky history,” he comments. For the few who were lucky enough to attend one of the many activations and training sessions that Daniel has conducted since the launch of the new bottle in Nairobi, they can attest to his comments. “Grant’s whisky is the third top scotch whisky in the world and we need to shout about it. Us doing this, now, is to let everyone know that we are proud of our achievement. The team have done a fantastic job and it is a lot of hard work and effort from the Grants Family, everyone at the distilleries to the marketing team and all the distributors including you the consumer, it’s a group effort. We want everyone to be part of Grant’s history”</p>
                    <p>Not only does the new Grant’s Whisky come with a new refreshed bottle, but the brand name has also changed to Grant’s Triple Wood, derived from the three different casks used to mature the whisky. The Virgin Oak cask that gives it that spicy, ginger flavour, the second is the American Oak to infuse a subtle vanilla smoothness and lastly, Refill Bourbon for that sweetness.</p>
                    <p>If you take a closer look at the bottle, you’ll notice a phrase repeated on the bottle, ‘Stand Fast’. “Stand Fast is huge to us and it’s actually the first time it’s been on the bottle for over 25 years.” says Daniel as he explains the story behind the phrase, “It is our clan motto that basically means to hold strong to your views. The story goes that there was a King running away from invaders with his men when he stopped at the hilltop of a small village called Vigil, very close to Dufftown where Grant’s distilleries were located. And that’s where he made his stance. He saw a small tree which he ripped out and said to his men – This is where we hold strong, this is where we fight them. This is where we stand fast, this is where we stand together – They held true to their views, stood together and fought.” So the next time you get yourself a Grant’s Triple Wood remember, you are drinking a great whisky, a whisky with history and you are now part of that history.</p>
                    <p>As we approach the December holidays and you are looking for a gift to give a friend who happens to be a whisky lover, Daniel Dyer has the perfect recommendation for you, “Get them a gift of being able to play around with Grants, and that’s simple. Start by buying them a bottle of Grant’s Triple Wood and a cocktail kit."</p>
                </div>
            </div><!-- /.blog-post -->

            <div>
                <div style="text-align: center; padding: 2% 0% 2% 0%;">
                    <h7 style="color: gray; font-size: 14px; font-weight: bold;">FOOD AND DRINK</h7>
                    <h4 style="font-weight: bold;">Kilifi Nights</h4>
                </div>

                <img src="{% static 'blogapp/img/posts/1_1.jpg' %}" alt="1_1" style="width: 100%;">

                <div style="padding: 4% 0% 4% 0%;">
                    <p><span class="padded-dropcap">I</span>t is 6 AM when we disembark at the Kilifi bus stage and are welcomed by a quenching morning sun. Unlike Nairobi, where the weather had been fresh and breezy, here the air is heavy and humid. We hail a tuk-tuk and make our way to Distant Relatives Eco-Lodge where we arrive in good time to catch a morning espresso with a BLT sandwich breakfast.</p>
                    <p>I had been invited to Kilifi alongside my fellow DJ Coco Em, both of us members of the Bad Mambo DJ collective, to play at a silent disco (you know, those ones where everyone wears headphones). When my editor found out where I was headed, she insisted that I get one of the staff at Distant Relatives to divulge the recipe for the legendary Miraa Juice that the lodge knocks-up every year for their New Year’s Eve festival.</p>
                    <p>The debate about the legal status of Miraa (also known as Khat, a flowering plant native to the Horn of Africa which acts as a mild stimulant and has been part of the social fabric of certain local communities for many centuries) in Kenya has ebbed and flowed over the years. Currently, it is legal here but not in Tanzania or Uganda and in over 15 countries around Europe. While in Kenya there is a certain amount of stigma attached to the chewing of miraa, there is an increasing movement geared towards creating juices out of it that gives people an energy boost when out dancing.</p>
                    <p>Just as I am preparing to retire to bed and rest a couple of hours after the long overnight trip, one of the Distant Relatives guys turns up accompanied by a short stocky man in a black t-shirt. Between them, I see they are carrying a blender and all the essentials needed for the upcoming miraa juice presentation. I resign myself to the fact that I probably won’t get any sleep that day, don my reporter’s cap and get my notepad out.</p>
                    <p>Maximus Kitisao, known by everyone simply as “Max”, is the man behind the legendary miraa shot sensation. He tells me he has been the guy behind the counter, churning out miraa juice since the team first came up with the idea at the first Distant Relatives NYE in 2015.</p>
                    <p>“Miraa shots were not originally birthed in Kenya,” as Max talks, he begins to empty bags of leafy green and reddish stalks onto the counter and chops the leaves into small bits “It is ironic since miraa is a native plant originating from the Horn of Africa and the Arabian peninsula”. Max launches into a complicated story about how he heard about the idea of juicing miraa from a visiting Yemeni who had learned it from an Arab Israeli who had moved to Yemen from Tel Aviv. By this time everything is finely cut so he pours it into the blender and adds the lime juice. As the blender springs into action, a bittersweet aroma hits my nostrils.</p>
                    <p>Max transfers the mixture from the blender to a bowl covered with a cloth. “The reason of doing this is to sieve out the small bits of the unblended Khat so we can get the fine juice’” Turns out the small chunks of unblended khat can later be dried and packed into sachets which can be used to make miraa tea. He finishes everything off by adding berry juice to the mixture. Word gets out that the juice is ready and guests from the lodge begin to crowd around us, eager to have a taste.</p>
                    <p>He pours the green mixture into a line of shot glasses “Here is to miraa” he raises his glass and, as tradition prescribes, he takes the first sip. Once he has certified it, the rest of the group follows suit. After the initial shock at the dryness of the lemon and chlorophyll, I am left with a surprisingly soothing and distinct taste in the mouth.</p>
                    <p>That night I get on the decks and play to a silent dancefloor. I am happy and elated but can’t tell if this is down to the shots or the sea breeze. Let’s see what it does to the DJ set I will be playing at the festival for this coming New Year.</p>
                    <h4>Miraa Shots Recipe</h4>
                    <p><strong>Tools</strong></p>
                    <ul class="recipe-list">
                        <li>Blender</li>
                        <li>Large bowl</li>
                        <li>Piece of cloth</li>
                        <li>Large glass</li>
                        <li>Shot glasses</li>
                    </ul>
                    <p><strong>Ingredients</strong></p>
                    <ul class="recipe-list">
                        <li>1kg of khat</li>
                        <li>500 ml of lime juice</li>
                        <li>250 ml of berry juice</li>
                    </ul>
                    <p><strong>Method</strong></p>
                    <ol class="recipe-list">
                        <li>Slice the miraa leaves into small bits.</li>
                        <li>Pour into the blender then add the lime juice. Blend till fine.</li>
                        <li>Place the piece of cloth over the bowl, pour the blended mixture onto the piece of cloth, roll it up and squeeze it till all the juice is extracted into the bowl leaving only the miraa sediments on the cloth.</li>
                        <li>Transfer the contents on the bowl into the jar and add the berry juice then fill halfway with ice.</li>
                        <li>Pour into shot glasses and enjoy.</li>
                    </ol>
                </div>
            </div><!-- /.blog-post -->

        </div><!-- /.featured-posts -->

        <div style="background-color: rgb(19, 29, 29); color: white; width: 100%; padding: 5% 10% 5% 10%;">
            <div class ="row">

                <div class="col-sm-12 col-md-6 col-lg-7">

                    <p style="font-family: 'Josefin Sans', sans-serif; font-size: 2.6em;"><strong>Leroy Buliro Dives In Podcast</strong></p>
                    <br>
                    <p style="font-size: 18px;">Leroy Buliro Dives In is a meandering conversation with activists, artists, industry professionals, and everyday folks. We want to tell their stories, talk about topics close to their heart, and yeah, just have a nice conversation.</p>
                    <p><strong>LISTEN & SUBSCRIBE</strong></p>
                    <ul>
                        <li><a style="text-decoration: blueviolet;" href="https://podcasts.apple.com/us/podcast/kubonga-podcast/id1470474649?uo=4" target="_blank">Apple Podcasts</a></li>
                        <li><a style="text-decoration: blueviolet;" href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy9jNDk1YmI4L3BvZGNhc3QvcnNz" target="_blank">Google Podcasts</a></li>
                        <li><a style="text-decoration: blueviolet;" href="https://open.spotify.com/show/2yUYmMbNJ2aXWDPoHF6P7D" target="_blank">Spotify</a></li>
                    </ul>

                </div>
    
                <div class="col-sm-12 col-md-6 col-lg-5">

                    <img src="{% static 'blogapp/img/dive-in.jpg' %}" alt="dive in podcast" style="max-width: 100%;">                  
                </div>
            </div>
        </div><!-- /.podcast-section -->

        <br>

        <div style="padding: 6% 14% 6% 14%; text-align: center; font-family: 'Josefin Sans', sans-serif;">
            <h1>About Leroy</h1>
            <img src="{% static 'blogapp/img/about.jpg' %}" alt="leroy" style="border-radius: 50%; max-width: 15em; padding: 2em;">
            <p>Hi there. My name is Leroy, also recognized by my DJ stage name LERB. I am an analyst by profession, a junglist at heart, and a storyteller by birth.</p>
            <p>Welcome to my digital man-cave, a place where I document stories and experiences, both personal and those told by others.</p>
            <div>
                <a href="https://twitter.com/leroybuliro/" target="_blank"><img src="{% static 'blogapp/img/twitter.png' %}" alt="twitter" class="center" width="40em" length="40em" style="padding: 3px;"></a>
                <a href="https://instagram.com/leroybuliro/" target="_blank"><img src="{% static 'blogapp/img/insta.png' %}" alt="instagram" class="center" width="40em" length="40em" style="padding: 3px;"></a>
                <!--a href="https://www.youtube.com/channel/UCb53KypWn_BMSOxZMQfORdQ" target="_blank"><img src="resources\img\yt.png" alt="instagram" class="center" width="30" length="30" style="padding-left: 3px;"></a-->
            </div>
        
        </div>

        <br>

        <!--div style="padding-top: 1em; text-align: center; font-family: 'Josefin Sans', sans-serif;">
            <h1>Get In Touch</h1>
            <form action="/get-in-touch.php">
                <label for="name">Name (required)</label><br>
                <input type="text" id="name" name="name" value=""><br>
                <label for="mail">Email (required)</label><br>
                <input type="text" id="email" name="email" value=""><br>
                <label for="message">Message (required)</label><br>
                <input type="text" id="message" name="message" value=""><br><br>
                <input type="submit" value="Submit">
              </form>
        </div>

        <br-->

        <div>
            <footer style="display: inline; background-color: #000000; color: white; font-family: 'Josefin Sans', sans-serif; width: 100%; font-size: 12px; position: fixed; bottom: 0;">
                
                <div style="text-align: center;">
                    <a style="text-decoration: none; color: white;" href="#">Privacy</a>
                    <a> | </a>
                    <a style="text-decoration: none; color: white;" href="#">Terms</a>
                    <a> | </a>
                    <a style="text-decoration: none; color: white;" href="mailto:lerbassist@gmail.com">Contact</a>
                </div>

                <div style="float:left;">
                    <a style="text-decoration: none; color: white;">© 2021 Leroy Buliro.</a>
                </div>

                <div style="float:right;">
                    <button style="font-weight: bold; background-color: rgb(0, 0, 0); color: white; border: none; cursor: pointer; margin-right: 1em;"><a>LOG IN</a></button>
                    <button style="font-weight: bold; background-color: rgb(28, 26, 145); color: white; border: none; cursor: pointer;"><a>SIGN UP</a></button>
                </div>
            
            </footer>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>  

</html>
