p, li, .recipe-list{
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif;
}

body {
  font-family: 'Josefin Sans', sans-serif;
}

.page-container {
    width: 100%;
    padding: 4%;
    padding-top: 6em;
    padding-bottom: 2em;
}

/* NAV BAR */

nav {
  position: fixed;
  width: 100%;
}

.nav-bar {
  background-color: #333333;
  height: 3em;
  width: 100%;
  padding: 0.7em;
  margin: 0em;
}

nav .logo img {
  max-height: 30px;
}

.update-bar {
  background-color: black;
  margin: 0em;
  width: 100%;
}

.update-bar p {
  color: whitesmoke;
  font-size: 12px;
  text-align: center;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

.update-bar p a {
  color: rgb(207, 207, 207);
  text-decoration: none;
}

.update-bar p a:hover {
  color: whitesmoke;
  text-decoration: none;
}

/* BLOG PAGE*/

.blog-post {
    padding-bottom: 3em;
}

.blog-post-category {
    color: gray;
}


/* PODCAST PAGE*/

.episode img {
  height: 44px;
  float: left;
  margin-right: 1em;
  cursor: pointer;
}


#podtitle {
    font-weight: bold;
}

#podtext {
    font-size: 14px;
}


/* FOOTER */
footer {
    background-color: #333333;
    color: white;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    padding: 0.1em;
    font-size: 10px;
    position: fixed;
    bottom: 0;
}


